<div id="<%= dom_id stall %>">
  <div>
    <strong>Name:</strong>
    <%= stall.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= stall.description %>
  </div>

  <div>
    <strong>Festival:</strong>
    <%= stall.festival_id %>
  </div>

  <div>
    <strong>User:</strong>
    <%= stall.user_id %>
  </div>

  <div>
    <strong>Status text:</strong>
    <%= stall.status_text %>
  </div>

  <div>
    <strong>Auth code:</strong>
    <%= stall.auth_code %>
  </div>

</div>
