<% content_for :title, "Stalls" %>

<div class="sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <h1 class="text-xl font-semibold text-gray-900">屋台一覧</h1>
    <p class="mt-2 text-sm text-gray-700">登録されている全ての屋台です。</p>
  </div>
  <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
    <%= link_to "新規作成", new_admin_stall_path, class: "block rounded-md bg-blue-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600" %>
  </div>
</div>

<div class="mt-8 flow-root">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">名前</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">祭り</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">管理者</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">状況</th>
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
              <span class="sr-only">Actions</span>
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% @stalls.each do |stall| %>
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"><%= stall.name %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= stall.festival&.name || '未設定' %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= stall.manager&.email || '未設定' %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= stall.status_text %></td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                <%= link_to "詳細", [:admin, stall], class: "text-blue-600 hover:text-blue-900 mr-4" %>
                <%= link_to "編集", edit_admin_stall_path(stall), class: "text-indigo-600 hover:text-indigo-900" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
