<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Yatai Now" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Yatai Now">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav style="background: #f0f0f0; padding: 10px;">
        <%= link_to 'トップ (地図)', root_path %> |

        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <%= link_to '祭り管理', admin_festivals_path %> |
            <%= link_to 'ユーザー管理', admin_users_path %> |
          <% elsif current_user.manager? %>
            <%= link_to 'マイ屋台管理', manager_stall_path %> |
          <% end %>

          <%= link_to 'アカウント編集', edit_user_registration_path %> |

          <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>

          <span style="float: right;">
            ( <%= current_user.email %> でログイン中)
          </span>

        <% else %>
          <%= link_to 'ログイン', new_user_session_path %>
          <% end %>
      </nav>
    </header>

    <main>
      <p classs="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </main>
  </body>
</html>
